.titleheading{
  color: #03233F;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  background-color: #d7f3dd;
  padding: 10px 21px 10px 21px;
  border-radius: 0px 0px 20px 20px;
  margin: 0px 480px 0px 480px;
}